<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test RequestParameters And PathVariables usage</title>
</head>
<body>
<p><a href="/test/reqparams?firstAttr=hello&secondAttr=world" >test request params  used in interceptors </a></p>
<p><a href="/test/pathvars/foo/bar" >test path variables  used in interceptors </a></p>
<p><a href="/test/control/boo/dummy?ppp=smth" >test not used path variables and requestparams </a></p>
<p><a href="/test/complex/foo/bar/?reqparam1=smth&reqparam2=another">test complex </a></p>
</body>
</html>